name: CI/CD Desafio Stefanini - Backend

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'src/DesafioStefanini.Web/**'

  workflow_dispatch: #"Run workflow" manual

jobs: 
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Restore
        run: dotnet restore ./src/DesafioStefanini.slnx
      - name: Run Tests
        run: dotnet test ./src/DesafioStefanini.slnx --no-restore

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Build Project        
        run: dotnet build ./src/DesafioStefanini.slnx -c Release

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: production
    if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Deploy to Railway
        run: railway up -e production -s ${{ secrets.RAILWAY_SERVICE_ID }} --detach
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
